/* Global variables */
:root {
  --text-color: rgb(249, 255, 235);
  --disabled-color: rgb(151, 175, 216);
  --mid-color: rgb(100, 112, 160);
  --bg-color: rgb(50, 69, 134);
  --main-color: rgb(225, 122, 81);

  --shift-pressed-visibility-flex: none;
  --shift-not-pressed-visibility-flex: flex;
}

html {
  /* To make use of full height of page*/
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: var(--disabled-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

/* App container */
#app_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Chat */
#chat_wrapper {
  display: block;
  flex: 1 1 0%;
  overflow-y: scroll;
}
#chat {
  display: block;
  background-color: var(--bg-color);
  overflow-wrap: break-word;
}
.chat_message {
  display: block;
  position: relative;
  color: var(--text-color);
  margin-left: -5.6rem;
  padding-left: 9rem;
  text-indent: -3.35rem;
}
.chat_message:hover {
  /*background-color: #333;*/
  background-color: rgba(255, 255, 255, 0.15);
}
.message_header {
  display: inline;
  vertical-align: top;
  cursor: text;
}
.message_header:not(:first-child) { /* (DESC) If the message header is NOT the first child of the chat_message container, it will be pushed to the LEFT to offset the rightwards push that all non-first children get. */
  margin-left: -3.35rem;
}
.message_timestamp {
  display: inline-block;
  color: #AAA;
  width: 3.1rem;
  height: 1.25rem;
  text-align: right;
  font-size: 0.6875rem;
  line-height: 1.375rem;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  white-space: nowrap;
  text-indent: 0;
  cursor: help;
}
.username {
  display: inline;
  /*position: relative;*/
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  vertical-align: baseline;
  overflow: hidden;
  word-wrap: break-word;
  -ms-flex-negative: 0;


  /*NEW, NOT WELL TESTED!!!*/
  flex-shrink: 0;
  text-indent: 0;
}
.message_content {
  display: inline;
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: text;
  text-indent: 0;
}

/* Spoilers */
.spoiler_shown { /* Spoiler has been clicked */
  color: inherit;
  /*background: rgba(0, 0, 0, 0.2);*/
  background: var(--mid-color);
}
.spoiler_hidden { /* Spoiler has not been clicked */
  color: transparent;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  cursor: pointer;
  user-select: none;
}
.spoiler_hidden * { /* Children of hidden spoiler */
  color: transparent;
  user-select: none;
  pointer-events: none;
}

/* "User is typing" box */
#is_typing_box {
  display: inline-block;
  color: white;
  overflow: clip;
  line-height: 2em; 
  min-height: 2em;
  height: 2em;
  user-select: none;
}

.input_area_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 3.5rem;
  z-index: 100;
}
.input_area { /* Text input box */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  /*color: var(--text-color);*/
  color: var(--text-color);
  background-color: var(--mid-color);
  box-shadow: none;
  border-radius: 12px;
}
.message_box_wrapper {
  display: block;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 50vh;
}
.message_box {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  min-height: 1.375rem;
  line-height: 1.375rem;
  cursor: text;
  text-indent: 0;
  position: relative; outline: none; white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word; white-space: break-spaces!important; user-select: text;
}

/* All buttons */
button, input[type=button], input[type=reset], input[type=submit] {
  color: var(--text-color);
  min-width: 3.5rem;
  width: 3.5rem;
  background-color: transparent;
  border-radius: 12px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
button:not(:disabled):not(:active):hover { /* Mouse is over button */
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
button:not(:disabled):not(:hover):not(:active):focus { /* Button is focused */
  color: var(--text-color);
  background-color: transparent;
  box-shadow: none;
}
button:not(:disabled):active { /* Button is being clicked */
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

/* Separator tags */
i {
  position: absolute;
  opacity: 0;
  width: 0;
  display: inline-block;
  font-style: normal;
  font-size: 0;
}

/* Code blocks and pre */
code, pre {
  color: var(--text-color);
}

/* Message author span classes */
.sys {
  color: #dcf000;
}
.you { 
  color: #ff0000; 
} 
.others { 
  color: #a7a7ff; 
}
.normal {
  color: var(--text-color);
}









/* Message hover buttons container */
.QuickActionBar {
  display: flex;
  opacity: 1;
  position: absolute;
  z-index: 5;
  top: -20px;
  right: 32px;
  width: auto;
  background: #28386d;
  border-radius: 2px;
  border: 1px solid rgba(163,163,172,.2);
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  box-sizing: border-box;
  cursor: pointer;
}

/* Message hover button wrapper */
.QuickActionBar-action-wrapper {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
} 
.QuickActionBar-action-wrapper:not(.shift-pressed) {
  display: var(--shift-not-pressed-visibility-flex);
}

/* Things that should display when shift is pressed */
.shift-pressed {
  display: var(--shift-pressed-visibility-flex);
}

/* Message hover button(s) */
.QuickActionBar-action {
  cursor: pointer;
  height: 26px;
  width: 26px;
  padding: 5px;
  fill: #a3a3ac;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  padding: 5px 8px;
  width: 32px;
  margin: 0;
  right: 0;
  position: relative;
}
.QuickActionBar-action:hover {
  background-color: rgba(255,255,255,.1);
  fill: #fff;
}
.separator-left::before{
  content:"";
  top:3px;
  bottom:3px;
  position:absolute;
  width:1px;
  background:rgba(163,163,172,.2);
  left:0
}
.separator-right::before{
  content:"";
  top:3px;
  bottom:3px;
  position:absolute;
  width:1px;
  background:rgba(163,163,172,.2);
  right:0
}
.destructive {
  fill: #df5353;
  color: #df5353;
}

.SVGIcon-icon {
  overflow: hidden;
  width: 100%;
  height: 100%;
}



/* Message editing box */
.EditArea {
  margin: 3px 6px 0 0;
}
/* Message editing "enter to save, escape to cancel" container */
.EditHelper-container {
  /*margin: 6px 0;*/
  margin: 6px;
  text-align: right;
  font-size: 13px;
  color: #a3a3ac;
}
/* Message editing save and edit "buttons" */
.EditHelper-action {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: none;
  transition: 150ms ease-in-out;
}
.EditHelper-action:hover {
  color: lightblue;
}

/* Edited message indicator (edited) */
.edit_indicator {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  font-size: 12px;
  opacity:0.75;
  /*pointer-events: none;*/
  user-select: none;
  cursor: help;
}



/* Message reply */
.message_reply {
  /*--timestamp-width: 4rem;
  --text-indent: -4rem;
  margin-left: calc(var(--timestamp-width) + .25rem + var(--text-indent));*/
  margin-left: 0.25rem;

  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  position: relative;
  user-select: none;
}

/* Message reply spine pointer thingy */
.message_reply::before {
  --spine-width: 2px;
  --timestamp-width: 3.1rem;
  --gutter: 0.25rem;
  --reply-spacing: 4px;

  display: block;
  position: absolute;
  box-sizing: border-box;
  content: "";
  top: 50%;
  right: 100%;
  bottom: 0;
  left: calc(var(--timestamp-width)/2*-1 + var(--gutter)*-1);
  margin-right: var(--reply-spacing);
  margin-top: calc(var(--spine-width)*-1/2);
  margin-left: calc(var(--spine-width)*-1/2);
  margin-bottom: calc(.125rem - 4px);
  border-left: var(--spine-width) solid var(--mid-color);
  border-bottom: 0 solid var(--mid-color);
  border-right: 0 solid var(--mid-color);
  border-top: var(--spine-width) solid var(--mid-color);
  border-top-left-radius: 6px;
}

/* Message reply all children */
.message_reply > * {
  opacity: 0.75;
}

/* Message reply badge */
.message_reply_badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color);
  background: var(--disabled-color);

  flex: 0 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  user-select: none;
  margin-right: .25rem;
  padding: 3px;
}

/* Message reply username */
/*.message_reply > .username {

}*/

/* Message reply text */
.message_reply > .message_content {
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent: 0;
  cursor: pointer;
}
.message_reply > .message_content:hover {
  opacity: 1;
}


/* Message reply bar */
.reply_bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: hidden;
  padding-top: -3px;
  margin-top: -3px;

  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  cursor: pointer;

  color: var(--text-color);
}
/* Message reply bar text */
.reply_bar_label {
  flex: 1 1 auto;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 16px;

  font-size: 14px;
  line-height: 18px;
}
/* Message reply bar close button */
.reply_bar_close_button {
  flex: 0 0 auto;
  border-radius: 0;
  cursor: pointer;
  color: var(--text-color);
  line-height: 0;
  padding: 8px 20px;
}
/* Message reply bar close button image */
.reply_bar_close_button > svg {
  width: 16px;
  height: 16px;
}
/* Elements that come after message reply bar, and all elements inside of the element that contains message reply bar */
.reply_bar + * * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Chat message being replied to */
.replying_to_chat_message {
  background-color: rgba(255, 255, 255, 0.2);
}
.replying_to_chat_message::before {
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: calc(5.6rem + 2px);
}