/* Global variables */
:root {
  --text-color: rgb(249, 255, 235);
  --disabled-color: rgb(151, 175, 216);
  /*--mid-color: rgb(100, 112, 160);*/
  --mid-color:rgb(50, 69, 134);
  /*--bg-color: rgb(50, 69, 134);*/
  --dark-color: #141c36;
  --bg-color: var(--dark-color);
  --main-color: rgb(225, 122, 81);
}

html {
  /* To make use of full height of page*/
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  background: var(--bg-color);
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track { /* Track */
  background: transparent;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: var(--disabled-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

/* App container */
#app_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Chat */
#chat_wrapper {
  display: block;
  flex: 1 1 0%;
  overflow-y: scroll;
}
#chat {
  display: block;
  background-color: var(--bg-color);
  overflow-wrap: break-word;
}
.chat_message {
  display: block;
  color: var(--text-color);
  margin-left: -5.9rem;
  padding-left: 9rem;
  text-indent: -3.35rem;
}
.chat_message:hover {
  /*background-color: #333;*/
  background-color: rgba(255, 255, 255, 0.15);
}
.message_header {
  display: inline;
  vertical-align: top;
  cursor: text;
}
.message_timestamp {
  display: inline-block;
  color: #AAA;
  width: 3.1rem;
  height: 1.25rem;
  text-align: right;
  font-size: 0.6875rem;
  line-height: 1.375rem;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  white-space: nowrap;
  text-indent: 0;
  cursor: help;
}
.username {
  display: inline;
  /*position: relative;*/
  margin-right: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  vertical-align: baseline;
  overflow: hidden;
  word-wrap: break-word;
  -ms-flex-negative: 0;
}
.message_content {
  display: inline;
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: text;
  text-indent: 0;
}

/* Spoilers */
.spoiler_shown { /* Spoiler has been clicked */
  color: inherit;
  /*background: var(--disabled-color);*/
  background: rgba(0, 0, 0, 0.2);
}
.spoiler_hidden { /* Spoiler has not been clicked */
  color: transparent;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  cursor: pointer;
  user-select: none;
}
.spoiler_hidden * { /* Children of hidden spoiler */
  color: transparent;
  user-select: none;
  pointer-events: none;
}

/* "User is typing" box */
#is_typing_box {
  display: inline-block;
  color: white;
  overflow: clip;
  line-height: 2em; 
  min-height: 2em;
  height: 2em;
  user-select: none;
}

#input_area_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 3.5rem;
  z-index: 100;
}
#input_area { /* Text input box */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  /*color: var(--text-color);*/
  color: var(--text-color);
  background-color: var(--mid-color);
  box-shadow: none;
  border-radius: 12px;
}
#message_box_wrapper {
  display: block;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 50vh;
}
#message_box {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  min-height: 1.375rem;
  line-height: 1.375rem;
  cursor: text;
  position: relative; outline: none; white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word; white-space: break-spaces!important; user-select: text;
}

/* All buttons */
button, input[type=button], input[type=reset], input[type=submit] {
  color: var(--text-color);
  min-width: 3.5rem;
  width: 3.5rem;
  background-color: transparent;
  border-radius: 12px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
button:not(:disabled):not(:active):hover { /* Mouse is over button */
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
}
button:not(:disabled):not(:hover):not(:active):focus { /* Button is focused */
  color: var(--text-color);
  background-color: transparent;
  box-shadow: none;
}
button:not(:disabled):active { /* Button is being clicked */
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
}

/* Seperator tags */
i {
  position: absolute;
  opacity: 0;
  width: 0;
  display: inline-block;
  font-style: normal;
  font-size: 0;
}

/* Code blocks and pre */
code, pre {
  color: var(--text-color);
}

/* Message author span classes */
.sys {
  color: #abbb00;
}
.you { 
  color: #ff0000; 
} 
.others { 
  color: #4a4aff; 
}
.normal {
  color: var(--text-color);
}